h1 {
	margin-top: 10px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.table {
	margin: 15px auto;
	width: 554px;
	height: 900px;
	border: 1px solid black;
}

.table div div {
	display: inline-block;
	width: 180px;
	height: 20px;
	border: 1px solid black;
	background: #CDCDCD;
	text-align: center;
	line-height: 20px;
	box-sizing: border-box;
}

.table div {
	border-bottom: 1px solid black;
	text-align: center;
	line-height: 20px;
	box-sizing: border-box;
}

.cell ul {
	padding: 5px;
	text-align: center;
}

