<footer class="footer" ng-show = "vm.items.length">
    <label class="todo-count"><strong>{{vm.leftTask}}</strong> task left</label>
    <ul class="filters">
        <li>
            <a data-filter = "all" class="selected">All</a>
        </li>
        <li>
            <a data-filter = "active" >Active</a>
        </li>
        <li>
            <a data-filter = "completed">Completed</a>
        </li>
    </ul>
    <button class="clear-completed" ng-show = "vm.completedCount">Clear completed</button>
</footer>
